body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0 !important;
}

#wrapper {
    display: flex;
    background: #fff;
    min-height: 100vh;
    flex-direction: column;
    width: 100%;
}

.header-main,
.footer-main {
    height: 60px;
    width: 100%;
    background: #8a1162;
}

.nav li {
    float: right;
}

.nav #logo {
    float: left;
    font-size: 1.8em;
}

.nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    font-size: 90%;
    padding-right: 0.5em;
    background: #8a1162;
}

li {
    list-style: none;
    text-transform: capitalize;
    font-size: 1.5em;
}

.nav a:hover {
    background-color: rgb(14, 2, 2);
    padding: 0.5em;
}

main {
    flex: 1;
    width: 100%;
    position: relative;
}

main h1 {
    text-align: center;
}

.menu-container {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
}

.menu-items {
    display: flex;
    background: rgb(245, 224, 236);
    justify-content: center;
    padding: 10px;
    margin: 5px;
    margin-top: 2em;
    margin-bottom: 1.5em;
}

.car-name {
    font-size: 1.3em;
    font-weight: bold;
    color: #000;
    background: #fff;
    text-transform: capitalize;
    padding-bottom: 5px;
    text-align: center;
    margin: 0 auto;
}

.column img {
    width: 100%;
}

.price {
    margin: 0 auto;
    font-size: 1.3em;
    color: #110c0c;
    font-weight: bold;
    text-align: center;
}

.poster {
    font-size: 1.5em;
    color: #110f10;
    background: #fff;
    text-transform: capitalize;
    padding-bottom: 5px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}

.menu-button button {
    display: flex;
    margin: 0em auto;
    background: #fff;
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
}

.menu-button button:hover {
    background: #8a1162;
}

.footer-main {
    margin: 0;
    background: #8a1162;
}

.footer-main p {
    margin: 0 auto;
    color: white;
    padding: 1em;
}

@media(min-width: 600px) {
    .menu-items {
        width: 25%;
    }
    .menu-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .menu-button button {
        display: flex;
        margin: 0em auto;
        background: #fff;
        color: #000;
        padding: 10px;
        font-size: 1.5em;
    }
}