body {
    font-family: 'Open Sans', sans-serif;
    ;
    font-weight: 300;
    margin: 0 !important;
}

.header-main,
.footer-main {
    height: 60px;
    width: 100%;
}

.navbar {
    overflow: hidden;
    height: 63px;
    background: #8a1162;
    width: 100%;
}

.nav li {
    float: right;
}

.nav #logo {
    float: left;
    font-size: 1.8em;
}

.navbar a {
    float: left;
    display: block;
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    font-size: 90%;
    padding-right: 0.5em;
}

.navbar a:hover {
    background-color: rgb(14, 2, 2);
    padding: 0.5em;
}

li {
    list-style: none;
    text-transform: capitalize;
    font-size: 1.5em;
}

svg {
    margin: 1.5em;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 1.5em;
    color: #ccc;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #fff;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 1.6em;
    font-size: 2.5em;
    margin-left: 3em;
    margin-right: -1em;
}

#main {
    transition: margin-left 0.5s;
    overflow: hidden;
}

main {
    flex: 1;
    width: 100%;
    height: 700px;
    position: relative;
}

main h1 {
    text-align: center;
    font-size: 1.7em;
}

#create-ad {
    color: #231313;
    margin: 0;
    padding-top: 0.2em;
    text-align: center;
}

.carad-container {
    display: flex;
    flex-direction: column;
    background: rgb(245, 224, 236);
    width: 80%;
    height: 500px;
    margin: 0 auto;
    margin-top: 2em;
    padding: 0em 1em 1em 1em;
    border-radius: 10px;
}

input[type=text],
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

option {
    font-size: 1.5em;
}

label {
    font-weight: bold;
}


/* Style the submit button */

input[type=submit] {
    width: 100%;
    background-color: rgb(121, 25, 89);
    color: black;
    padding: 0.5em;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5em;
    text-align: center;
}


/* Add a background color to the submit button on mouse-over */

input[type=submit]:hover {
    background-color: #f07ec4;
}

.footer-main {
    margin: 0;
    background: #8a1162;
    display: flex;
}

.footer-main p {
    margin: 0 auto;
    color: white;
    padding: 1em;
    font-size: 1em
}

@media(max-width: 568px) {
    .menu {
        display: none;
    }
    .navbar #logo {
        margin: 0 auto;
    }
}

@media(min-width: 568px) {
    .open-slide {
        display: none;
    }
    .carad-container {
        display: flex;
        flex-direction: column;
        background: rgb(245, 224, 236);
        width: 60vh;
        height: 500px;
        margin: 0 auto;
        margin-top: 2em;
        padding: 1em 1em 1em 1em;
        border-radius: 10px;
    }
    li {
        list-style: none;
        text-transform: capitalize;
        font-size: 1.5em;
    }
    .menu {
        border: 1px solid #434348;
        background: rgb(226, 127, 193);
        margin: 0.2em;
        padding-left: 0.5em;
        padding-top: 0.2em;
        border-radius: 5px;
        ;
    }
}